# Ambientes Virtuais
.venv/
venv/
env/
__pycache__/
*.pyc

# Banco de Dados Local
chroma_data/

# Arquivos de Sistema e Testes
.DS_Store
*.pdf
.env

# Streamlit e FastAPI caches
.pytest_cache/
.streamlit/
